<!DOCTYPE html>

<html>
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %}  URL Shortener  </title>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/styles.css")}}">

    </head>
    <body>
        <nav>
            <ul>
                {% for p in pages: %}
                    <li><a href="{{ url_for(pages[p]) }}">{{ p }}</a></li>
                {% endfor %}
            </ul>
        </nav>

	{% block banner %}
	    <img class="banner" src="{{url_for('static', filename='images/url_shortener.png')}}" alt="Banner image">
	{% endblock %}

        <div class="container">
	    
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>

